doctype html
html
	head
		meta(charset='utf-8')
		title List of soical networking sites
		link(href='css/normalize.css', rel='stylesheets', type='text/css')
		link(href='css/main.css', rel='stylesheets', type='text/css')
	body
		.container
			h1 List of social networking sites
			.sort Sort networks
			.sites-list
				.sites-list__item
					h2 Twitter
					p Short description
					h3 Pros
					ul
						li Be online
						li No one know
						li Brake
				.sites-list__item
					h2 Facebook
					p Short description
					h3 Pros
					ul
						li No online
						li Be offline
						li on And one
				.sites-list-item
					h2 Google plus
					p Short description
					h3 Pros
					ul
						li Oli koli
						li Doki
						li Boki
