doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title List of soical networking sites
		link(href='css/normalize.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')
	body.main-bg
		.container
			h1 List of social networking sites
			.sort Sort networks
			.sites-list
				each item in [{heading: 'Twitter', screenshoot: 'img/twitter.png', icon: 'icon-twitter', percentage: '33%', pros: ['Be online', 'No one know', 'Brake'], description: 'Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.'}, {heading: 'Facebook', screenshoot: 'img/facebook.png', percentage: '71%', icon: 'icon-facebook', pros: ['Be online', 'No one know', 'Brake'], description: 'After registering to use the site, users can create a user profile, add other users as "friends", exchange messages, post status updates and photos, share videos and receive notifications when others update their profiles'}, {heading: 'Google plus', screenshoot: 'img/gplus.png', percentage: '33%', icon: 'icon-gplus', pros: ['Be online', 'No one know', 'Brake'], description: 'The service, Google fourth foray into social networking, experienced strong growth in its initial years, although usage statistics have varied, depending on how the service is defined. User engagement has been relatively low.'}]
					.sites-list__item.sites-list-item.sites-list__row
						.sites-list__col-3
							a.sites-list-item__icon(class= item.icon)
							h2.sites-list-item__heading
								a.sites-list-item__link(href='#')= item.heading
							p.sites-list-item__description= item.description
						.sites-list__col-3
							.circle_big 100%
							.circle_small= item.percentage
							h3 Pros
							ul
								each pros in item.pros
									li= pros
						.sites-list__col-6
							.sites-list-item__screenshot-wrapper
								img.sites-list-item__screenshot-img(src= item.screenshoot)
